name: ci
on: pull_request
jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run linters
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=3m
  go-test:
    strategy:
      matrix:
        go-version: [1.23.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: go tests
        run: (set -o pipefail && go test -v -covermode=count -json ./... | tee test.json)
      - name: annotate go tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.5.1
        with:
          test-results: test.json

  test:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_ORGANIZATION_ID: ${{ secrets.ORGANIZATION_ID }}
      BATON_API_TOKEN: ${{ secrets.API_TOKEN }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build baton-percipio
        run: go build ./cmd/baton-percipio
      - name: Run baton-percipio
        run: ./baton-percipio

      - name: Install baton
        run: ./scripts/get-baton.sh && mv baton /usr/local/bin

#      - name: Test grant/revoking IAM entitlements
#        env:
#          BATON: /usr/local/bin/baton
#          BATON_ENTITLEMENT: "group:00G8a000003XHtmEAG:member"
#          BATON_PRINCIPAL: "0058a00000KGxQ8AAL"
#          BATON_PRINCIPAL_TYPE: "user"
#          COMMAND: ./baton-salesforce
#        run: ./test/grant-revoke.sh